<!DOCTYPE html>
<html lang="en">
     <title>Öğrenci Bilgi Sistemi</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="menu">
<nav>
   <label> KOCAELİ ÜNİVERSİTESİ / ÖĞRENCİ BİLGİ SİSTEMİ</label>
        <ul> 
            
       <li> <a href="#" >ÇIKIŞ YAP</a></li>

        </ul>
        <label for="menu" class="menu-bar">

            <i class="	fa fa-bars"></i>
        </label>


</nav>

 <div class="side-menu">
   <center>
     <img src="img/kou.png"> 
     <br><br>
     
     <h2> KOÜ </h2>
   </center>
   <br>

    <a href="ogrenci.html"><i class="fa fa-user"></i><span> Öğrenci Bilgileri</span> </a>
    <a href="basvuru.html" target="_blank"><i class="fa fa-clipboard"></i><span> Staj Başvurusu</span> </a>
    <a href="belge.html" target="_blank"><i class="fa fa-cloud-download"></i><span> Belge Yükleme</span> </a>
    <a href="not.html"><i class="	fa fa-bar-chart"></i><span> Staj Not Takibi</span> </a>

    <a href="#"><i class="fa fa-power-off" class="Logout"></i><span> Çıkış Yap</span> </a>

 </div>
  <div class="data"></div>

   <div class="cover"></div>
</body>
</html>