{%load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="kullanıcı.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'css/kullanici.css'%}">
</head>
<body>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <h2 style="color:darkgreen;">STAJ BAŞVURU SİSTEMİ/Öğretmen</h2>
            <div class="header_img"> <img src="static/img/kou_logo.png" alt=""> </div>
        </header>

            {% include 'partials/_navbarOgretmen.html' %}

        <div class="height-100 bg-light " align>
            <div style="padding-left:50px ;padding-top:170px ;padding-right: 350px;width:80% ; margin-right=30px">
                <table style="width: 100%; border-block-color: black;">
                    <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid #64bcbb;">
                        <td style="color:darkgreen;" >Ad: </td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_ad }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid #64bcbb;">
                        <td style="color:darkgreen;">Soyad: </td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_soyad }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                        </tr>
                        <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid #64bcbb;">
                        <td style="color:darkgreen;">Sicil No:</td> 
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.sicil_no }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                        
                    </tr>
                    <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid #64bcbb;">
                        <td style="color:darkgreen;">Fakülte:</td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_fakulte }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid #64bcbb;">
                        <td style="color:darkgreen;">Bölüm:</td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_bolum }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid #64bcbb;">
                        <td style="color:darkgreen;">E-mail:</td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_bolum }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/kullanici.js'%}"></script>





</body>
</html>