{%load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="kullanıcı.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'css/kullanici.css'%}">
</head>
<body>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <h2 style="color:darkgreen;">STAJ BAŞVURU SİSTEMİ/Öğretmen</h2>
            <div class="header_img"> <img src="./images/WhatsApp Image 2022-10-26 at 22.47.54.jpeg" alt=""> </div>
        </header>
        <div class="navbar" id="nav-bar">
            {% include 'partials/_navbarOgretmen.html' %}
        </div> 
        <!--Container Main start-->
        <div class="height-100 bg-light">
            <div style="padding-left:50px ;padding-top:170px ;padding-right: 350px;width:80% ;">
                <table style="width: 100%; border-block-color: black; ">
                    <tr style="font-size:x-large;height:70px;padding-left:10px;border:solid black;">
                        <td  >AD: </td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_ad }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr border:solid black;>
                        <td>Soyad: </td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_soyad }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                        </tr>
                    <tr border:solid black;>
                        <td>Sicil No:</td> 
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.sicil_no }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                        
                    </tr>
                    <tr style="border:solid black;">
                        <td>FAKÜLTE:</td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_fakulte }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr style="border:solid black;">
                        <td>BÖLÜM:</td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_bolum }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr style="border:solid black;">
                        <td>E-POSTA:</td>
                        <td>
                            <ul>
                              {% for Ogretmen in ogretmens %}
                                  <li>
                                      {{ Ogretmen.ogretmen_bolum }}
                                  </li>
                              {% endfor %}
                            </ul>
                          </td>
                    </tr>
                    <tr style="border:solid black;">
                        <td>TELEFON:</td>
                        <td>05555555555</td>
            
                    </tr>
                </table>
            </div>
            <div style="padding-top:80px ;padding-left:350px;">
                <button style="background-color:rgb(100, 129, 218) ;" type="button">GÜNCELLE</button>
            </div>
        
        </div>
        <!--Container Main end-->



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/kullanici.js'%}"></script>





</body>
</html>